{
	admin off
	servers {
		trusted_proxies cloudflare {
			interval 12h
			timeout 15s
		}
	}
	crowdsec {
		api_url http://crowdsec:8080
		api_key "{env.CROWDSEC_API_KEY}"
		ticker_interval 15s
	}
	tailscale {
		auth_key "{env.TS_AUTHKEY}"
		ephemeral true
		state_dir "/data/tailscale"
		webui false
	}
}

(safe) {
	header /* {
		# HSTS support (enable only in production environment)
		Strict-Transport-Security "max-age=15768000;" # Uncomment if used
		# Enable cross-site filter (XSS) and tell browser to block detected attacks
		X-XSS-Protection "1; mode=block"
		# Disallow the site to be rendered within a frame (clickjacking protection)
		X-Frame-Options "DENY"
		# Prevent search engines from indexing (optional)
		X-Robots-Tag "noindex, nofollow"
		# Server name removing
		-Server
	}
}

(log) {
	log {
		output file {$LOG_FILE} {
			roll_size 10MB
			roll_keep 10
		}
	}
}

(nolog) {
	log {
		output discard
	}
}

(cloudflare) {
	tls {$CLOUDFLARE_EMAIL} {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}
}

(lan) {
	@lan {
		remote_ip 192.168.0.0/24
		remote_ip 192.168.1.0/24
		remote_ip 100.64.0.0/10
		remote_ip 127.0.0.0/8
		remote_ip 10.0.0.0/8
		remote_ip 172.16.0.0/12
	}
}

vw.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	route @lan {
		reverse_proxy vaultwarden:80
	}
}

vw.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/vw
	reverse_proxy vaultwarden:80
}

hmdm.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	route @lan {
		reverse_proxy headwind:8080
	}
}

hmdm.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/hmdm
	reverse_proxy headwind:8080
}

eb2ab.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	route @lan {
		reverse_proxy ebook2audiobookpiper:7860
	}
}

eb2ab.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/eb2ab
	reverse_proxy ebook2audiobookpiper:7860
}

fdroid.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	route @lan {
		reverse_proxy /repo* fdroid:8080
	}
	redir / /repo 301
}

fdroid.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/fdroid
	reverse_proxy fdroid:8080
}

nitter.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=63072000"
		Referrer-Policy no-referrer
		X-Permitted-Cross-Domain-Policies none
		X-Content-Type-Options nosniff
		Permissions-Policy "Permissions-Policy: accelerometer=(), ambient-light-sensor=(), autoplay=(self), battery=(), camera=(), cross-origin-isolated=(), display-capture=(), document-domain=(), encrypted-media=(), execution-while-not-rendered=(), execution-while-out-of-viewport=(), fullscreen=(self), geolocation=(), gyroscope=(), keyboard-map=(), magnetometer=(), microphone=(), midi=(), navigation-override=(), payment=(), picture-in-picture=(self), publickey-credentials-get=(), screen-wake-lock=(), sync-xhr=(), usb=(), web-share=(), xr-spatial-tracking=()"
		header Content-Security-Policy "default-src 'none'; script-src 'self' 'unsafe-inline'; img-src 'self'; style-src 'self' 'unsafe-inline'; font-src 'self'; object-src 'none'; media-src 'self' blob:; worker-src 'self' blob:; base-uri 'self'; form-action 'self'; frame-ancestors 'self'; connect-src 'self' https://*.twimg.com; manifest-src 'self'"
	}
	route @lan {
		reverse_proxy nitter-gluetun:8090
	}
}

nitter.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/nitter
	reverse_proxy nitter-gluetun:8090
}

sync.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	encode zstd gzip
	route @lan {
		reverse_proxy resilio-sync:8888
	}
}

sync.{$TAILNET} {
	import nolog
	tailscale_auth
	bind tailscale/sync
	reverse_proxy resilio-sync:8888
}

uptime.{$MY_DOMAIN} {
	import nolog
	import cloudflare
	import lan
	route @lan {
		reverse_proxy http://uptime-kuma.{$TAILNET}:3001
	}
}

{$MY_DOMAIN} www.{$MY_DOMAIN} {
	import safe
	import log
	import cloudflare
	encode zstd gzip
	route {
		crowdsec
		reverse_proxy linkwarden:3000
	}
}

immich.{$MY_DOMAIN} {
	import safe
	import log
	import cloudflare
	encode zstd gzip
	route {
		crowdsec
		reverse_proxy immich_server:2283
	}
}

traccar.{$MY_DOMAIN} {
	import safe
	import log
	import cloudflare
	encode zstd gzip
	route {
		crowdsec
		reverse_proxy traccar:8082
	}
}

auditor.{$MY_DOMAIN} {
	import safe
	import log
	import cloudflare
	@allowed {
		path /auditor/*
		path /api/*
		path /about
		path /challenge*
		path /submit*
		path /verify*
	}
	route {
		crowdsec
		reverse_proxy @allowed attestation:8080
	}
	redir / /about 301
}

auditor.admin.{$MY_DOMAIN} {
	import safe
	import nolog
	import cloudflare
	import lan
	route @lan {
		reverse_proxy attestation:8080 {
			header_up Origin "https://auditor.{$MY_DOMAIN}"
		}
	}
}
