services:
  caddy:
    image: ghcr.io/pinoykrissmith/caddy:latest
    container_name: caddy
    restart: unless-stopped
    tty: true
    read_only: true
    user: "200017:200017"
    ports:
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:Z,ro
      - /elysium/caddy-data:/config:Z
      - /elysium/caddy-data:/data:Z
      - /elysium/caddy-logs:/data/logs:z
    environment:
      TZ: UTC
      LOG_FILE: "/data/logs/access.log"
      CLOUDFLARE_EMAIL: "${CLOUDFLARE_EMAIL}"
      CLOUDFLARE_AUTH_TOKEN: "${CLOUDFLARE_AUTH_TOKEN}"
      MY_DOMAIN: "${MY_DOMAIN}"
      TORRENTS_PASS: "${TORRENTS_PASS}"
      TAILSCALE_AUTH_KEY: "${TAILSCALE_AUTH_KEY}"
      CADDY_ADMIN: "off"
    env_file:
      - .env
    security_opt:
      - "no-new-privileges=true"
    cap_add:
      - "NET_BIND_SERVICE"
    cap_drop:
      - "ALL"
    networks:
      - caddy_net
    labels:
      com.centurylinklabs.watchtower.enable: "true"
      io.containers.autoupdate: "registry"

networks:
  caddy_net:
    name: caddy_net
    external: true