[Unit]
Requires=fdroid.service
After=fdroid.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/podman exec --user 101:101 --workdir=/ fdroid python3 /download.py; /usr/bin/podman exec --user 101:101 --workdir=/fdroid fdroid fdroid update;'