name: Build Archiveteam

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-archiveteam.yml'
      - 'Archiveteam/Dockerfile'
  schedule:
    # Build the image weekly
    - cron: '15 0 * * 5'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: pinoykrissmith/archiveteam
  TAG: latest
  CONTEXT: Archiveteam

jobs:
  build:
    name: Build & push new image
    permissions:
      contents: read
      packages: write
    timeout-minutes: 10
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set date tag for weekly images
        if: ${{ github.event_name == 'schedule' }}
        run: |
          echo "DATE_TAG=$(date +'%Y%m%d%H')" >> $GITHUB_ENV

      - name: Login to registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            ${{ env.TAG }}
            ${{ env.DATE_TAG }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@v6
        with:
          context: ${{ env.CONTEXT }}
          platforms: linux/amd64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}